body{
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.logo{
  margin: 0;
}

ol{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

.header a{
  text-decoration: none;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 20px 10px;
}

figure{
  margin: 0;
}

.container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.link{
  color: white;
}

.link_me{
  color: aqua;
}

.hero_text{
  width: 500px;
  height: 250px;
  text-transform: uppercase;
  background-color: black;

}

.hero_text_1{
  font-size: 80px;
  color: #ead2a3;
}

.hero_text_2{
  font-size: 60px;
  color: #ead2a3;
}

.hero_text_3{
  font-size: 37px;
  color: aqua;
}

.hero_text_4{
  font-size: 25px;
  color: aqua;
}

h1{
  line-height: 1.01;
  padding: inherit;
}

.hero_image{
  object-fit: cover;
}

.hero{
  height: 250px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sentence{
  width: 1000px;
  height: 100px;
  background-color: black;
  color: #ead2a3;
}

.sentence_complete{
  margin: inherit;
  padding: 15px 0 0 0;
  align-items: center;
}

.sentence_autor{
  margin: inherit;
  padding: inherit;

}

.sentence_align{
  width: 340px;
  font-style: italic;
}

.sentence_autor{
  justify-content: right;
  display: grid;
  color: aqua;
}

.sentence_section{
  background-color: black;
}

.biography{
  background-color: black;
  color: white;
  }

  .me_tittle{
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  width: 500px;
  margin: inherit;
  }

  .biography_div_complete{
    display: flex;
  }

  .biography_text_1{
    font-size: 26px;
    color: #ead2a3;
  }

  .biography_text_2{
    font-size: 20px;
    color: aqua;
  }

  .biography_text_3{
    font-size: 25px;
    color: #ead2a3;
  }

  .hobbies_tittle{
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    width: 500px;
    margin: inherit;
    }

  .hobbies{
    background-color: black;
    color: white;
  }

  .family_image_img{
    transform: rotate(180deg);
    border: solid 3px aqua;
  }

  .family_div_complete{
    width: 490px;
  }
