@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qu1zbo');
  src:  url('../fonts/icomoon.eot?qu1zbo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qu1zbo') format('truetype'),
    url('../fonts/icomoon.woff?qu1zbo') format('woff'),
    url('../fonts/icomoon.svg?qu1zbo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e900";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.icon-facebook:before {
  content: "\e901";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.icon-twitter:before {
  content: "\e902";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.icon-github:before {
  content: "\e903";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social a{
  font-size: 3em;
  color: aqua;
}

body{
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.logo{
  margin: 0;
}

ol{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

.header a{
  text-decoration: none;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 20px 10px;
}

figure{
  margin: 0;
}

.container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.link{
  color: white;
}

.link_me{
  color: aqua;
}

.hero_text{
  width: 500px;
  height: 250px;
  text-transform: uppercase;
  background-color: black;

}

.hero_text_1{
  font-size: 80px;
  color: #ead2a3;
}

.hero_text_2{
  font-size: 60px;
  color: #ead2a3;
}

.hero_text_3{
  font-size: 37px;
  color: aqua;
}

.hero_text_4{
  font-size: 25px;
  color: aqua;
}

h1{
  line-height: 1.01;
  padding: inherit;
}

.hero_image{
  object-fit: cover;
}

.hero{
  height: 250px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sentence{
  height: 100px;
  background-color: black;
  color: #ead2a3;
  width: 340px;
  font-style: italic;
}

.sentence_complete{
  margin: inherit;
  padding: 15px 0 0 0;
  align-items: center;
}

.sentence_autor{
  margin: inherit;
  padding: inherit;

}

.sentence_autor{
  justify-content: right;
  display: grid;
  color: aqua;
}

.sentence_section{
  background-color: black;
}

.biography{
  background-color: black;
  color: white;
  padding-bottom: 30px;
  }

  .me_tittle{
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  width: 500px;
  margin: inherit;
  }

  .biography_div_complete{
    display: flex;
  }

  .biography_text_1{
    font-size: 26px;
    color: #ead2a3;
  }

  .biography_text_2{
    font-size: 20px;
    color: aqua;
  }

  .biography_text_3{
    font-size: 25px;
    color: #ead2a3;
  }

  .hobbies_tittle{
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    width: 500px;
    margin: inherit;
    }

  .hobbies{
    background-color: black;
    color: white;
    padding-bottom: 30px;
  }

  .family_image_img{
    border: solid 3px aqua;
    object-fit: cover;
    width: 490px;
    height: 300px;
    border-radius: 10px;
  }

  .family{
    width: 490px;
  }

  .family_tittle{
    font-size: 32px;
    color: aqua;
    margin: 30px 30px 2px 0;
  }

  .family_div_text{
    margin: 35px;
    margin-top: -50px;
    position: relative;
    background-color: #ead2a3;
    color: black;
    padding: 15px;
    padding-top: 1px;
    font-size: 19px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }

  .family_sport_pack{
    display: flex;
    justify-content: space-between;
  }

  .other_image_img{
    border: solid 3px aqua;
    object-fit: cover;
    width: 490px;
    height: 300px;
    border-radius: 10px;
  }

  .study_tittle{
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    width: 500px;
    margin: inherit;
    }

  .study{
    background-color: black;
    color: white;
    padding-bottom: 60px;
  }

  progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #ead2a3;
}
progress::-webkit-progress-bar {
    background: #ead2a3;
}
progress::-webkit-progress-value {
    background: aqua;
} 
progress::-moz-progress-bar {
    color: aqua;
    background: #ead2a3;
}

.list_study{
  margin: 25px;
  margin-left: 0px;
  margin-bottom: 0px;
}

ul{
  font-size: 20px;
  margin-bottom: 0px;
}

.contact_tittle{
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  width: 500px;
  margin: inherit;
  padding-top: 30px;
  }

.contact{
  background-color: black;
  color: white;
  padding-bottom: 40px;
}

.input_name{
  width: 450px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: black;
  background-color: #ead2a3;
  margin-bottom: 10px;
  border: solid 1px aqua;
}

.input_email{
  width: 450px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: black;
  background-color: #ead2a3;
  margin-bottom: 10px;
  border: solid 1px aqua;
}

.textarea_message{
  width: 450px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: black;
  background-color: #ead2a3;
  margin-bottom: 10px;
  border: solid 1px aqua;
}

.submit{
  width: 100px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 25px;
  font-size: 18px;
  color: black;
  background-color: aqua;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  border: solid 1px #ead2a3;
}

.social_link{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.contact_block{
  display: flex;
  justify-content: space-between;
}

.contact_div_tittles{
  display: flex;
}

.contact_div_followme{
  text-align: end;
}

.social{
  display: flex;
  align-items: center;
}

.footer{
  background-color: black;
  color: white;
}

.footer_line{
  display: flex;
}

.footer_link{
  display: flex;
}

span{
  color: red;
}

hr{
  width: 1000px;
  margin: 0;
  height: 1px;
  background: aqua;
  border: solid 1px aqua;
}

.footer_div_block{
  display: flex;
  justify-content: space-between;
}

.footer_hipervinculo{
  text-decoration: none;
  color: aqua;
}